
$gold-light: #d8bc86;
$gold: #caaf7d;
$gold-dark: #ac8a50;
$gold-darker: #835612;

#view-member-bg {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#view-member {
    background-position: top;
    background-size: 100% 100%;
    padding: 10px;
    color: #000;
    a { color: #000; }
    .nav-tabs {
        border-bottom: 0;
        > li {
            width: 33.333333%;
            border-style: solid;
            border-color: rgba(#fff, 0.7);
            border-width: 0 0 2px 0;
            > a {
                border: 0;
                margin: 0;
                border-radius: 0;
                background-color: transparent;
                color: #000;
                text-align: center;
            }
            &.active {
                box-shadow: 0 -3px 3px rgba(#000, 0.2);
                border-width: 2px 2px 0 2px;
                border-radius: 4px 4px 0 0;
                > a {
                    background-color: rgba(#f4e6b1, 0.5);
                }
            }
        }
    }
    .tab-content {
        border-style: solid;
        border-color: rgba(#fff, 0.7);
        border-width: 0 2px 2px 2px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 3px 3px rgba(#000, 0.2);
        background-color: rgba(#f4e6b1, 0.5);
    }
    .tab-pane {
        padding: 10px;
    }
}

#member-tab-register,  {
    color: $gold-dark;
    form {
        margin-top: 5px;
    }
    .control-label {
        padding-top: 7px;
        padding-right: 0;
        color: $gray-dark;
    }
    .form-control, .btn {
        background-color: $gold;
        border-color: $gold-dark;
        border-radius: 0;
        color: #fff;
    }
    .btn {
        border-color: $gold;
    }
    .col-btn-send {
        padding-left: 0;
        .btn {
            font-size: 12px;
            padding: 7px 0;
        }
    }
    .highlight {
        background-color: $gold;
        color: rgba(#fff, 0.9);
        padding: 10px;
        margin-bottom: 0;
    }
}


#member-tab-credits {
    color: $gold-dark;
    .highlight {
        background-color: $gold;
        color: rgba(#fff, 0.9);
        padding: 10px;
        margin-bottom: 0;
    }
    .panel-group {
        margin: 20px;
    }
    .panel-heading {
        background-color: $gold;
        border-radius: 0;
        padding: 0;
        a {
            position: relative;
            display: block;
            color: #fff;
            padding: 10px 37px 10px 15px;
            text-align: center;
        }
        .icon {
            position: absolute;
            top: 0;
            right: 0;
            height: 37px;
            width: 37px;
            padding-top: 10px;
            background-color: rgba(#fff, 0.9);
            color: $gold;
            .fa-caret-up { display: none; }
            .fa-caret-down { display: inline-block; }
            &.in {
                .fa-caret-up { display: inline-block; }
                .fa-caret-down { display: none; }
            }
        }
    }
    .panel-body {
        border-color: $gold;
        background-color: $gold-light;
        color: $gold-darker;
    }
    .panel-group .panel + .panel {
        margin-top: 15px;
    }
    .panel {
        border-color: $gold;
        border-radius: 0;
    }
}

#member-tab-upload {
    color: $gold-dark;
    .subtitle {
        color: $gray-dark;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($gray, 0.1);
        box-shadow: 0 2px 1px rgba(#fff, 0.3);
    }
    p + .subtitle {
        margin-top: 20px;
    }
    form {
        margin-bottom: 10px;
    }
    .control-label {
        padding-top: 7px;
        padding-right: 0;
        color: $gold-dark;
    }
    .form-control, .btn {
        background-color: $gold;
        border-color: $gold-dark;
        border-radius: 0;
        color: #fff;
    }
    input.form-control[type=file] {
        background: transparent;
        border-color: transparent;
        padding-left: 0;
        color: $gold-dark;
    }
    .btn {
        border-color: $gold;
    }
}
