#view-nav-products-category {
    .category-item {
        @include user-select(none);
        .img {
            padding-top: 33.28125%;
            background-size: 100% 200%;
            background-position: bottom;
        }
        &:active .img,
        &:hover .img {
            background-position: top;
        }
    }
}

/*#view-nav-products-category {
    > .background {
        background-size: 100% 100%;
    }
    .banner {
        width: 100%;
        padding-top: 54.53125%;
    }
    .category-item {
        width: 44%;
        margin: 4%;
        &:nth-child(n+3) {
            margin-top: 0;
        }
        &:nth-child(2n) {
            margin-left: 0;
        }
        padding-top: 41.526%;
        cursor: pointer;
        position: relative;
    }
    .category-name {
        position: absolute;
        bottom: 0;
        padding: 5px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        background-color: #555;
    }
}*/
