#view-nav-products-catogry {
    > .background {
        background-size: 100% 100%;
    }
    .banner {
        width: 100%;
        padding-top: 54.53125%;
    }
    .catogry-item {
        width: 44%;
        margin: 4%;
        &:nth-child(n+3) {
            margin-top: 0;
        }
        &:nth-child(2n) {
            margin-left: 0;
        }
        padding-top: 41.526%;
        cursor: pointer;
        position: relative;
    }
    .category-name {
        position: absolute;
        bottom: 0;
        padding: 5px;
        left: 0;
        width: 100%;
    }
}
