#view-nav-cars {
	background-color: #aaa;
	color: #000;
	article {
		padding: 10px 30px 50px;
	}
	.scroll {
		width: 100%;
		overflow: hidden;
	}
	.video-wrapper {
		margin: 20px;
		> .img {
			padding-top: 45%;
		}
	}
	video {
		//display: none;
	}
	.scroll-indicator {
		position: relative;
		//width: 110px;
		width: 40px;
		height: 10px;
		margin: -20px auto 30px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
		background-size: 15px 10px;
	}
	.dotty {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background: #777;
	}
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #bbb;
		.text {
			width: 40%;
			padding: 1em;
		}
		.menu {
			width: 60%;
			padding: 1em;
			border: 1px solid #ccc;
			position: relative;
			z-index: 1;
		}
		.menu-content {
			position: absolute;
			z-index: 0;
			bottom: 100%;
			right: 0;
			width: 60%;
			background-color: #bbb;
			border-left: 1px solid #ccc;
			border-top: 1px solid #ccc;
			margin-bottom: -1px;
		}
		.brand-item {
			width: 50%;
			padding: 10px;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
	}
}

#view-page-cars-series {
	background-color: #ddd;
	.banner {
		padding-top: 20%;
	}
	.series-list {
		padding: 0 30px 30px;
	}
	.serie-item {
		padding: 25px 5px;
		border-bottom: 1px solid #555;
		position: relative;
		.button {
			position: absolute;
			top: 50%;
			right: 5px;
			height: 30px;
			margin-top: -15px;
			font-size: 12px;
			line-height: 18px;
			padding: 5px 15px;
			border: 1px solid #555;
			border-radius: 5px;
		}
	}
}

#view-page-car-detail {
	.cars_img {
		img {
			width: 100%;
		}
	}
	.cars_name, .cars_content {
		margin: 20px;
	}
	.cars_name {
		padding: 10px 0;
		border-bottom: 1px solid #aaa;
	}
	.cars_name_name {
		font-size: 1.5em;
		font-weight: bold;
	}
	a[href="javascript:history.go(-1);"] {
		display: none;
	}
}
