#view-nav-brand {
    > .background {
        background-size: contain;
        background-position: top;
        background-color: #f2f0ea;
    }
    .nav-btn {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        background-color: #afe8f9;
        color: #004b62;
        &:active, &:focus {
            background-color: darken(#afe8f9, 10%);
        }
    }
}

#view-page-channels {
    > .background {
        background-size: 100% 100%;
    }
    padding: 40px 30px;
    .channel {
        display: block;
        background-color: rgba(#fff, 0.9);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        .img, .text {
            display: inline-block;
            vertical-align: middle;
        }
        .img {
            height: 60px;
            width: 60px;
            background-size: contain;
            margin-right: 15px;
        }
        .text {
            color: #4d4d4d;
        }
    }
}

#view-page-bose-global {
    padding-top: 95%;
    > .background {
        //background-size: 100% 100%;
        background-size: cover;
    }
    .banner {
        background-position: top;
        padding-top: 80%;
    }
    .channel {
        display: block;
        padding: 10px 20px;
        .img, .text {
            display: inline-block;
            vertical-align: middle;
        }
        .img {
            width: 30%;
            padding-top: 20.56%;
            background-size: contain;
        }
        .text {
            width: 70%;
            color: #fff;
            padding-left: 15px;
        }
    }
}

#view-page-brand-story {
    padding: 10px 20px;
    .hero-image {
        padding-top: 60%;
    }
    article {
        h4 {
            color: #777;
            margin-top: 5px;
            margin-bottom: 30px;
        }
    }
}
