#view-nav-bosestyle {
    > .background {
        background-size: contain;
        background-position: top;
        background-color: #000;
    }
    .buttons-stack {
        margin-top: 110%;
    }
    .nav-btn {
        background-color: #465c7d;
        color: #fff;
        &:active, &:focus {
            background-color: darken(#465c7d, 10%);
        }
    }
}
