#view-portal-bose {
    > .background {
        background-position: bottom;
    }
    .nav-btn {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        background-color: #b8f9ef;
        color: #17554a;
        &:active, &:focus {
            background-color: darken(#b8f9ef, 10%);
        }
    }
}
