
$static-url: '../' !default;

@font-face {
    font-family: 'bose';
    src: url('../fonts/hanyizhongyuan.ttf') format('truetype');
}

//== Typography
$font-family-sans-serif:  "bose", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

$font-family-base:        $font-family-sans-serif !default;
$headings-font-family:    $font-family-sans-serif !default;


//-- Iconography
$icon-font-path: "../fonts/bootstrap/" !default;


//===========================================================================================
@import "bootstrap/variables";
//===========================================================================================
