@font-face {
  font-family: 'bose';
  src: url("../fonts/hanyizhongyuan.ttf") format("truetype"); }
@font-face {
  font-family: 'bosegothic';
  src: url("../fonts/bosegothic.ttf") format("truetype"); }
.view {
  position: relative; }

.buttons-stack {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  margin-bottom: 10%; }
  .buttons-stack:before, .buttons-stack:after {
    content: " ";
    display: table; }
  .buttons-stack:after {
    clear: both; }
  .buttons-stack .nav-btn {
    display: block;
    float: left;
    text-align: center;
    margin-top: 4%;
    width: 48%;
    padding: 10px; }
    .buttons-stack .nav-btn:first-child {
      width: 100%; }
    .buttons-stack .nav-btn:nth-child(2n) {
      margin-right: 4%; }

#apploader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3); }
  #apploader .loader {
    position: relative;
    top: 40%;
    pointer-events: none;
    min-height: 64px;
    width: 140px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; }
  #apploader .ajax-error {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 0.85em;
    text-align: center;
    color: #eeeeee; }
  #apploader .loading-sprite {
    background-image: url(../images/loading.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    height: 32px;
    width: 100%; }

#view-portal-bose > .background {
  background-position: bottom; }
#view-portal-bose .nav-btn {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #b8f9ef;
  color: #17554a; }
  #view-portal-bose .nav-btn:active, #view-portal-bose .nav-btn:focus {
    background-color: #89f5e4; }

#view-portal-news > .background {
  background-position: bottom; }
#view-portal-news .nav-btn {
  color: #943626;
  background-image: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.3) 100%);
  background-image: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.3) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#4DFFFFFF', GradientType=0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
#view-portal-news .buttons-stack {
  top: 80%;
  bottom: auto; }

#view-nav-bosestyle > .background {
  background-size: contain;
  background-position: top;
  background-color: #000; }
#view-nav-bosestyle .buttons-stack {
  margin-top: 110%; }
#view-nav-bosestyle .nav-btn {
  background-color: #465c7d;
  color: #fff; }
  #view-nav-bosestyle .nav-btn:active, #view-nav-bosestyle .nav-btn:focus {
    background-color: #34445c; }

#view-nav-products > .background {
  background-position: bottom; }
#view-nav-products .buttons-stack {
  margin-bottom: 15%; }
#view-nav-products .nav-btn {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #def1f1;
  color: #622105; }
  #view-nav-products .nav-btn:active, #view-nav-products .nav-btn:focus {
    background-color: #89f5e4; }
  #view-nav-products .nav-btn.disable {
    background-color: rgba(222, 241, 241, 0.5); }

#view-page-new-products .scroll {
  overflow: hidden; }
#view-page-new-products .scroll-item {
  position: relative; }
#view-page-new-products .scroll-item-1 .background {
  background-color: #cfcece;
  background-size: 100% auto;
  background-position: top; }
#view-page-new-products .scroll-item-2 .background.boy {
  z-index: -1;
  height: 33%;
  top: 0;
  bottom: auto; }
#view-page-new-products .scroll-item-2 .background.girl {
  z-index: -1;
  height: 33%;
  bottom: 0;
  top: auto; }
#view-page-new-products .scroll-item-2 .background.hero {
  z-index: 1;
  height: 34%;
  bottom: 33%;
  top: 33%;
  right: 0;
  background-size: contain;
  background-position: top;
  background-color: #fff; }
#view-page-new-products .scroll-item-2 .background.text-boy {
  z-index: 2;
  height: 10%;
  top: auto;
  bottom: 70%;
  background-size: contain;
  background-position: bottom right; }
#view-page-new-products .scroll-item-2 .background.text-girl {
  z-index: 2;
  height: 10%;
  top: auto;
  bottom: 5%;
  background-size: contain;
  background-position: bottom left; }
#view-page-new-products .gesture-up {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.5); }

#view-page-new-products-list {
  padding: 30px 20px; }
  #view-page-new-products-list .message {
    display: block;
    color: #000;
    padding: 10px;
    border-bottom: 1px solid #eee; }
    #view-page-new-products-list .message:before, #view-page-new-products-list .message:after {
      content: " ";
      display: table; }
    #view-page-new-products-list .message:after {
      clear: both; }
  #view-page-new-products-list .text {
    float: left;
    width: 80%;
    padding-top: 5px;
    padding-right: 15px; }
  #view-page-new-products-list .text + .img {
    float: right;
    width: 20%;
    padding-top: 20%; }
  #view-page-new-products-list .hero {
    padding-top: 56.3%; }

#view-nav-products-category .category-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #view-nav-products-category .category-item .img {
    padding-top: 33.28125%;
    background-size: 100% 200%;
    background-position: bottom; }
  #view-nav-products-category .category-item:active .img, #view-nav-products-category .category-item:hover .img {
    background-position: top; }

/*#view-nav-products-category {
    > .background {
        background-size: 100% 100%;
    }
    .banner {
        width: 100%;
        padding-top: 54.53125%;
    }
    .category-item {
        width: 44%;
        margin: 4%;
        &:nth-child(n+3) {
            margin-top: 0;
        }
        &:nth-child(2n) {
            margin-left: 0;
        }
        padding-top: 41.526%;
        cursor: pointer;
        position: relative;
    }
    .category-name {
        position: absolute;
        bottom: 0;
        padding: 5px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        background-color: #555;
    }
}*/
#view-nav-cars {
  background: url("../images/nav-cars-bg.jpg") repeat bottom;
  background-size: 100% auto;
  color: #000; }
  #view-nav-cars, #view-nav-cars p, #view-nav-cars h1, #view-nav-cars h2, #view-nav-cars h3, #view-nav-cars h4, #view-nav-cars h5, #view-nav-cars h6 {
    font-family: bose, "bosegothic", "bose", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #view-nav-cars article {
    padding: 10px 30px 50px; }
  #view-nav-cars .scroll {
    width: 100%;
    overflow: hidden; }
  #view-nav-cars .video-wrapper {
    position: relative;
    margin: 20px; }
    #view-nav-cars .video-wrapper > .img {
      padding-top: 45%; }
  #view-nav-cars video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; }
  #view-nav-cars .scroll-indicator {
    position: relative;
    width: 40px;
    height: 10px;
    margin: -20px auto 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
    background-size: 15px 10px; }
  #view-nav-cars .dotty {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #777; }
  #view-nav-cars footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #bbb; }
    #view-nav-cars footer .text {
      font-size: 1.2em;
      width: 40%;
      padding: 0.6em; }
    #view-nav-cars footer .menu {
      font-size: 1.2em;
      width: 60%;
      padding: 0.6em;
      border: 1px solid #ccc;
      position: relative;
      z-index: 1; }
    #view-nav-cars footer .menu-content {
      position: absolute;
      z-index: 0;
      bottom: 100%;
      right: 0;
      width: 60%;
      background-color: #bbb;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      margin-bottom: -1px; }
    #view-nav-cars footer .brand-item {
      width: 50%;
      padding: 10px;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }

#view-page-cars-series {
  background-color: #ddd; }
  #view-page-cars-series .banner {
    padding-top: 25%; }
  #view-page-cars-series .series-list {
    padding: 0 30px 30px; }
  #view-page-cars-series .serie-item {
    padding: 25px 5px;
    border-bottom: 1px solid #555;
    position: relative; }
    #view-page-cars-series .serie-item .button {
      position: absolute;
      top: 50%;
      right: 5px;
      height: 30px;
      margin-top: -15px;
      font-size: 12px;
      line-height: 18px;
      padding: 5px 15px;
      border: 1px solid #555;
      border-radius: 5px; }

#view-page-car-detail > .img {
  padding-top: 50%; }
#view-page-car-detail > .content {
  position: relative;
  padding: 15px 15px 50px;
  font-size: 0.8em; }
  #view-page-car-detail > .content h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px; }
  #view-page-car-detail > .content ul {
    margin-top: 10px;
    padding-left: 15px;
    list-style-type: disc; }
  #view-page-car-detail > .content li {
    margin-bottom: 4px; }
  #view-page-car-detail > .content .pull-left {
    width: 65%; }
  #view-page-car-detail > .content .pull-right {
    width: 31%; }
#view-page-car-detail .video-item {
  position: relative; }
  #view-page-car-detail .video-item p {
    font-size: 0.55em;
    margin: 10px 0;
    text-align: center; }
  #view-page-car-detail .video-item .img {
    padding-top: 50%; }
  #view-page-car-detail .video-item video {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
#view-page-car-detail .spliter {
  margin: 30px auto;
  border-bottom: 1px solid #555; }

/*
#view-page-car-detail {
	.cars_img {
		img {
			width: 100%;
		}
	}
	.cars_name, .cars_content {
		margin: 20px;
	}
	.cars_name {
		padding: 10px 0;
		border-bottom: 1px solid #aaa;
	}
	.cars_name_name {
		font-size: 1.5em;
		font-weight: bold;
	}
	a[href="javascript:history.go(-1);"] {
		display: none;
	}
}
*/
#view-nav-jobs .hot, #view-nav-jobs-all .hot {
  padding: 5px 15px;
  font-size: 1.2em; }
#view-nav-jobs .hero, #view-nav-jobs-all .hero {
  padding-top: 100%; }
#view-nav-jobs .subtitle, #view-nav-jobs-all .subtitle {
  padding: 5px 15px;
  background-color: #91c3ef;
  color: #fff; }
#view-nav-jobs .position-item, #view-nav-jobs-all .position-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
  line-height: 1.5em;
  min-height: 4em;
  position: relative; }
  #view-nav-jobs .position-item .name, #view-nav-jobs-all .position-item .name {
    padding-right: 0; }
  #view-nav-jobs .position-item .loc, #view-nav-jobs .position-item .fa, #view-nav-jobs-all .position-item .loc, #view-nav-jobs-all .position-item .fa {
    position: absolute;
    top: 50%;
    height: 40px;
    line-height: 40px;
    margin-top: -20px; }
  #view-nav-jobs .position-item .loc, #view-nav-jobs-all .position-item .loc {
    right: 40px; }
  #view-nav-jobs .position-item .fa, #view-nav-jobs-all .position-item .fa {
    right: 10px;
    font-size: 30px; }

#view-page-job-detail > footer {
  border-top: 1px solid #ddd; }
  #view-page-job-detail > footer .btn {
    background-color: transparent;
    line-height: 49px;
    padding: 0;
    border: 0; }
  #view-page-job-detail > footer .split {
    border-right: 1px solid #ddd; }
#view-page-job-detail .wechat-share-tip {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  background-position: top;
  background-size: 100% auto; }
#view-page-job-detail .content .title {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd; }
#view-page-job-detail .content .description {
  padding: 15px; }

#view-nav-brand > .background {
  background-size: contain;
  background-position: top;
  background-color: #f2f0ea; }
#view-nav-brand .nav-btn {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #afe8f9;
  color: #004b62; }
  #view-nav-brand .nav-btn:active, #view-nav-brand .nav-btn:focus {
    background-color: #80daf5; }

#view-page-channels {
  padding: 40px 30px; }
  #view-page-channels > .background {
    background-size: 100% 100%; }
  #view-page-channels .channel {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px; }
    #view-page-channels .channel .img, #view-page-channels .channel .text {
      display: inline-block;
      vertical-align: middle; }
    #view-page-channels .channel .img {
      height: 60px;
      width: 60px;
      background-size: contain;
      margin-right: 15px; }
    #view-page-channels .channel .text {
      color: #4d4d4d; }

#view-page-bose-global {
  padding-top: 95%; }
  #view-page-bose-global > .background {
    background-size: cover; }
  #view-page-bose-global .banner {
    background-position: top;
    padding-top: 80%; }
  #view-page-bose-global .channel {
    display: block;
    padding: 10px 20px; }
    #view-page-bose-global .channel .img, #view-page-bose-global .channel .text {
      display: inline-block;
      vertical-align: middle; }
    #view-page-bose-global .channel .img {
      width: 30%;
      padding-top: 20.56%;
      background-size: contain; }
    #view-page-bose-global .channel .text {
      width: 70%;
      color: #fff;
      padding-left: 15px; }

#view-nav-promo .menu-icon {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  color: #aaa;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #view-nav-promo .menu-icon:active {
    background-color: rgba(255, 255, 255, 0.9); }
#view-nav-promo .menu {
  position: absolute;
  z-index: 1;
  left: 50px;
  min-width: 200px;
  top: 0;
  padding: 15px 20px 10px;
  background-color: rgba(0, 0, 0, 0.3); }
  #view-nav-promo .menu .menu-item {
    opacity: 0.7;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #fff; }
#view-nav-promo .viewport {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  bottom: 25%;
  left: 0;
  width: 100%; }
#view-nav-promo .scroll {
  margin: 0 auto; }
#view-nav-promo .scroll-inner:before, #view-nav-promo .scroll-inner:after {
  content: " ";
  display: table; }
#view-nav-promo .scroll-inner:after {
  clear: both; }
#view-nav-promo .promo-item {
  float: left; }
  #view-nav-promo .promo-item .img {
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin: 10%;
    padding-top: 80%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

#view-member-bg {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; }

#view-member {
  background-position: top;
  background-size: 100% 100%;
  padding: 10px;
  color: #000; }
  #view-member a {
    color: #000; }
  #view-member .nav-tabs {
    border-bottom: 0; }
    #view-member .nav-tabs > li {
      width: 33.333333%;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.7);
      border-width: 0 0 2px 0; }
      #view-member .nav-tabs > li > a {
        border: 0;
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        color: #000;
        text-align: center; }
      #view-member .nav-tabs > li.active {
        box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
        border-width: 2px 2px 0 2px;
        border-radius: 4px 4px 0 0; }
        #view-member .nav-tabs > li.active > a {
          background-color: rgba(244, 230, 177, 0.5); }
  #view-member .tab-content {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(244, 230, 177, 0.5); }
  #view-member .tab-pane {
    padding: 10px; }

#member-tab-register {
  color: #ac8a50; }
  #member-tab-register form {
    margin-top: 5px; }
  #member-tab-register .control-label {
    padding-top: 7px;
    padding-right: 0;
    color: #333333; }
  #member-tab-register .form-control, #member-tab-register .btn {
    background-color: #caaf7d;
    border-color: #ac8a50;
    border-radius: 0;
    color: #fff; }
  #member-tab-register .btn {
    border-color: #caaf7d; }
  #member-tab-register .col-btn-send {
    padding-left: 0; }
    #member-tab-register .col-btn-send .btn {
      font-size: 12px;
      padding: 7px 0; }
  #member-tab-register .highlight {
    background-color: #caaf7d;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-bottom: 0; }

#member-tab-credits {
  color: #ac8a50; }
  #member-tab-credits .highlight {
    background-color: #caaf7d;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-bottom: 0; }
  #member-tab-credits .panel-group {
    margin: 20px; }
  #member-tab-credits .panel-heading {
    background-color: #caaf7d;
    border-radius: 0;
    padding: 0; }
    #member-tab-credits .panel-heading a {
      position: relative;
      display: block;
      color: #fff;
      padding: 10px 37px 10px 15px;
      text-align: center; }
    #member-tab-credits .panel-heading .icon {
      position: absolute;
      top: 0;
      right: 0;
      height: 37px;
      width: 37px;
      padding-top: 10px;
      background-color: rgba(255, 255, 255, 0.9);
      color: #caaf7d; }
      #member-tab-credits .panel-heading .icon .fa-caret-up {
        display: none; }
      #member-tab-credits .panel-heading .icon .fa-caret-down {
        display: inline-block; }
      #member-tab-credits .panel-heading .icon.in .fa-caret-up {
        display: inline-block; }
      #member-tab-credits .panel-heading .icon.in .fa-caret-down {
        display: none; }
  #member-tab-credits .panel-body {
    border-color: #caaf7d;
    background-color: #d8bc86;
    color: #835612; }
  #member-tab-credits .panel-group .panel + .panel {
    margin-top: 15px; }
  #member-tab-credits .panel {
    border-color: #caaf7d;
    border-radius: 0; }

#member-tab-upload {
  color: #ac8a50; }
  #member-tab-upload .subtitle {
    color: #333333;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.1);
    box-shadow: 0 2px 1px rgba(255, 255, 255, 0.3); }
  #member-tab-upload p + .subtitle {
    margin-top: 20px; }
  #member-tab-upload form {
    margin-bottom: 10px; }
  #member-tab-upload .control-label {
    padding-top: 7px;
    padding-right: 0;
    color: #ac8a50; }
  #member-tab-upload .form-control, #member-tab-upload .btn {
    background-color: #caaf7d;
    border-color: #ac8a50;
    border-radius: 0;
    color: #fff; }
  #member-tab-upload input.form-control[type=file] {
    background: transparent;
    border-color: transparent;
    padding-left: 0;
    color: #ac8a50; }
  #member-tab-upload .btn {
    border-color: #caaf7d; }

#view-coupon-500 {
  background: url("../images/coupon-500-bg.jpg") no-repeat top;
  background-size: 100% auto;
  padding: 105% 25px 25px; }
  #view-coupon-500 form {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden; }
  #view-coupon-500 .form-control, #view-coupon-500 .btn {
    border-radius: 0; }
  #view-coupon-500 .btn {
    background-color: #e61939;
    color: #fff; }
  #view-coupon-500 .form-group {
    margin: 20px 15px; }
  #view-coupon-500 input {
    padding-left: 32px;
    background-image: url("../images/coupon-500-input-icons.png");
    background-repeat: no-repeat;
    background-size: 32px 64px; }
    #view-coupon-500 input[name="mobile"] {
      background-position: 0 0; }
    #view-coupon-500 input[name="name"] {
      background-position: 0 -32px; }
  #view-coupon-500 select {
    width: 50%;
    -webkit-appearance: none;
    border-width: 1px 0 0; }
    #view-coupon-500 select:last-child {
      border-left-width: 1px; }
  #view-coupon-500 .select-wrapper {
    position: relative; }
    #view-coupon-500 .select-wrapper .fa {
      position: absolute;
      top: 10px;
      right: 3%; }
    #view-coupon-500 .select-wrapper .fa:first-child {
      right: 53%; }
