.view {
  position: relative; }

.buttons-stack {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  margin-bottom: 10%; }
  .buttons-stack:before, .buttons-stack:after {
    content: " ";
    display: table; }
  .buttons-stack:after {
    clear: both; }
  .buttons-stack .nav-btn {
    display: block;
    float: left;
    text-align: center;
    margin-top: 4%;
    width: 48%;
    padding: 10px; }
    .buttons-stack .nav-btn:first-child {
      width: 100%; }
    .buttons-stack .nav-btn:nth-child(2n) {
      margin-right: 4%; }

#apploader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3); }
  #apploader .loader {
    position: relative;
    top: 40%;
    pointer-events: none;
    min-height: 64px;
    width: 140px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; }
  #apploader .ajax-error {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 0.85em;
    text-align: center;
    color: #eeeeee; }
  #apploader .loading-sprite {
    background-image: url(../images/loading.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    height: 32px;
    width: 100%; }

#view-portal-bose > .background {
  background-position: bottom; }
#view-portal-bose .nav-btn {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #b8f9ef;
  color: #17554a; }
  #view-portal-bose .nav-btn:active, #view-portal-bose .nav-btn:focus {
    background-color: #89f5e4; }

#view-nav-bosestyle > .background {
  background-size: contain;
  background-position: top;
  background-color: #000; }
#view-nav-bosestyle .buttons-stack {
  margin-top: 110%; }
#view-nav-bosestyle .nav-btn {
  background-color: #465c7d;
  color: #fff; }
  #view-nav-bosestyle .nav-btn:active, #view-nav-bosestyle .nav-btn:focus {
    background-color: #34445c; }

#view-nav-products > .background {
  background-position: bottom; }
#view-nav-products .buttons-stack {
  margin-bottom: 15%; }
#view-nav-products .nav-btn {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #def1f1;
  color: #622105; }
  #view-nav-products .nav-btn:active, #view-nav-products .nav-btn:focus {
    background-color: #89f5e4; }
  #view-nav-products .nav-btn.disable {
    background-color: rgba(222, 241, 241, 0.5); }

#view-nav-products-catogry > .background {
  background-size: 100% 100%; }
#view-nav-products-catogry .banner {
  width: 100%;
  padding-top: 54.53125%; }
#view-nav-products-catogry .catogry-item {
  display: block;
  width: 44%;
  margin: 4%;
  padding-top: 41.526%; }
  #view-nav-products-catogry .catogry-item:nth-child(n+3) {
    margin-top: 0; }
  #view-nav-products-catogry .catogry-item:nth-child(2n) {
    margin-left: 0; }

#view-nav-brand > .background {
  background-size: contain;
  background-position: top;
  background-color: #f2f0ea; }
#view-nav-brand .nav-btn {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #afe8f9;
  color: #004b62; }
  #view-nav-brand .nav-btn:active, #view-nav-brand .nav-btn:focus {
    background-color: #80daf5; }

#view-page-channels {
  padding: 40px 30px; }
  #view-page-channels > .background {
    background-size: 100% 100%; }
  #view-page-channels .channel {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px; }
    #view-page-channels .channel .img, #view-page-channels .channel .text {
      display: inline-block;
      vertical-align: middle; }
    #view-page-channels .channel .img {
      height: 60px;
      width: 60px;
      background-size: contain;
      margin-right: 15px; }
    #view-page-channels .channel .text {
      color: #4d4d4d; }

#view-page-bose-global > .background {
  background-size: contain;
  background-position: top;
  background-color: #f2f0ea; }

#view-member-bg {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; }

#view-member {
  background-position: top;
  background-size: 100% 100%;
  padding: 10px;
  color: #000; }
  #view-member a {
    color: #000; }
  #view-member .nav-tabs {
    border-bottom: 0; }
    #view-member .nav-tabs > li {
      width: 33.333333%;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.7);
      border-width: 0 0 2px 0; }
      #view-member .nav-tabs > li > a {
        border: 0;
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        color: #000;
        text-align: center; }
      #view-member .nav-tabs > li.active {
        box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
        border-width: 2px 2px 0 2px;
        border-radius: 4px 4px 0 0; }
        #view-member .nav-tabs > li.active > a {
          background-color: rgba(244, 230, 177, 0.5); }
  #view-member .tab-content {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(244, 230, 177, 0.5); }
  #view-member .tab-pane {
    padding: 10px; }

#member-tab-register {
  color: #ac8a50; }
  #member-tab-register form {
    margin-top: 5px; }
  #member-tab-register .control-label {
    padding-top: 7px;
    padding-right: 0;
    color: #333333; }
  #member-tab-register .form-control, #member-tab-register .btn {
    background-color: #caaf7d;
    border-color: #ac8a50;
    border-radius: 0;
    color: #fff; }
  #member-tab-register .btn {
    border-color: #caaf7d; }
  #member-tab-register .col-btn-send {
    padding-left: 0; }
    #member-tab-register .col-btn-send .btn {
      font-size: 12px;
      padding: 7px 0; }
  #member-tab-register .highlight {
    background-color: #caaf7d;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-bottom: 0; }

#member-tab-credits {
  color: #ac8a50; }
  #member-tab-credits .highlight {
    background-color: #caaf7d;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin-bottom: 0; }
  #member-tab-credits .panel-group {
    margin: 20px; }
  #member-tab-credits .panel-heading {
    background-color: #caaf7d;
    border-radius: 0;
    padding: 0; }
    #member-tab-credits .panel-heading a {
      position: relative;
      display: block;
      color: #fff;
      padding: 10px 37px 10px 15px;
      text-align: center; }
    #member-tab-credits .panel-heading .icon {
      position: absolute;
      top: 0;
      right: 0;
      height: 37px;
      width: 37px;
      padding-top: 10px;
      background-color: rgba(255, 255, 255, 0.9);
      color: #caaf7d; }
      #member-tab-credits .panel-heading .icon .fa-caret-up {
        display: none; }
      #member-tab-credits .panel-heading .icon .fa-caret-down {
        display: inline-block; }
      #member-tab-credits .panel-heading .icon.in .fa-caret-up {
        display: inline-block; }
      #member-tab-credits .panel-heading .icon.in .fa-caret-down {
        display: none; }
  #member-tab-credits .panel-body {
    border-color: #caaf7d;
    background-color: #d8bc86;
    color: #835612; }
  #member-tab-credits .panel-group .panel + .panel {
    margin-top: 15px; }
  #member-tab-credits .panel {
    border-color: #caaf7d;
    border-radius: 0; }

#member-tab-upload {
  color: #ac8a50; }
  #member-tab-upload .subtitle {
    color: #333333;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.1);
    box-shadow: 0 2px 1px rgba(255, 255, 255, 0.3); }
  #member-tab-upload p + .subtitle {
    margin-top: 20px; }
  #member-tab-upload form {
    margin-bottom: 10px; }
  #member-tab-upload .control-label {
    padding-top: 7px;
    padding-right: 0;
    color: #ac8a50; }
  #member-tab-upload .form-control, #member-tab-upload .btn {
    background-color: #caaf7d;
    border-color: #ac8a50;
    border-radius: 0;
    color: #fff; }
  #member-tab-upload input.form-control[type=file] {
    background: transparent;
    border-color: transparent;
    padding-left: 0;
    color: #ac8a50; }
  #member-tab-upload .btn {
    border-color: #caaf7d; }
